.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  background-color: #576cbc;
  box-shadow: 0px 0px 15px 2px #00000059;
}

.header {
  font-weight: bold;
}

.bestSeller {
  display: flex;
  flex-direction: column;
}
